html { 
  background: url('./Images/BG.png') no-repeat center center fixed;
  background-size: cover;
}

.page {
    padding : 50px;
}

.nav {
    background-color: grey;
    padding: 15px;
    text-align:center;
}

.nav li{
    display: inline;
    padding: 15px;
    font-size: 40px;
    background-color: black;
}

.nav a{
    color: white;
    text-decoration:none;
}

.nav img{
    height: 20px;
    width: auto;
}

p {
    color: white;
    font-size: 25px;
    text-align:center;
    font-family: Arial;
}

h1 {
    color: white;
    font-size: 35px;
    text-align:center;
    font-family: Arial;
}

a {
 color: grey;
 font-family: Arial;
}

h2 {
    color: red;
    font-size: 50px;
    text-align:center;
    background-color: blue;
}

h3 {
    color: white;
    font-size: 40px;
    text-align:center;
    font-family: Arial;
}

h6 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Courier;
    text-decoration: UnderLine;
}

h4 {
    font-size: 25px;
    text-align: center;
    font-family: Times;
    background-color: white;
}

ul{
    text-align: center;
    display: inline;
}

li{
    display: inline
    padding: 40px;
    font-size: 30px;
    color: white;
}

ol {
    font-size: 10px;
    list-style-type: none;
}

.blogs li{
    display: inline
    padding: 40px;
    font-size: 30px;
    color: white;
}

.blogs a {
 color: grey;
 font-family: Arial;
 text-decoration:none;
}
